h1 {
    margin-left: 40px;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 64px;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('pic15.jpg');
    background-repeat: no-repeat;
    height: 70vh;
    background-size: cover;
    background-position: center;
}

.title {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: white;
    font-size: 49px;
    text-align: center;
}

.title h2 {
    color: white;
    font-size: 16px;
    text-align: center;
}

/*....................................................................*/

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*....................................................................*/

/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/*....................................................................*/

/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

/*....................................................................*/

@media screen and (max-width: 1000px) {
    .column-66, .column-33 {
        width: 100%;
        text-align: center;
    }
    img {
        margin: auto;
    }
}

/*.............................................................*/

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 16px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.container {
    border: 2px solid #ccc;
    background-color: rgb(226, 237, 240);
    /* background-image: url('flower1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    background-size: cover;
    margin-top: 20px;
}